/* GLOBAL */
:root {
  --amarelo: #F4D13D;
  --azul: #3694a7;
  --vermelho: #ff605a;
  --azul-claro: #1ed5da;
  --cinza: #252525;
  --branco: #ffffff;
  --preto: #000000;
  --verde: #a8e379;
  --abobora: #FCA044;
}

body {
  font-family: "gomme-sans", sans-serif;
}

.btn {
  background: var(--vermelho);
  padding: 12px 30px;
  color: var(--branco);
  font-size: 18px;
  font-weight: bold;
  border-radius: 0.4em;
  line-height: 30px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

}


.btn:hover {
  color: var(--cinza);
  background: var(--amarelo);
}

button{
  border: none;
}

.subtitulo {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  line-height: 80px;
  color: var(--cinza);
  letter-spacing: 0.03em;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.p-subtitulo {
  font-size: 22px;
  font-weight: light;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2%;
}

/* FIM GLOBAL */

/* HEADER */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--cinza);
  padding: 15px 0;
  z-index: 10;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.header-menu ul li a {
  color: var(--branco);
  font-weight: regular;
  letter-spacing: 0.1em;
  font-size: 20px;
  padding: 10px 0;
}

.menu-link:after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: var(--azul);
  transition: width 0.3s;
  margin-top: 10%;
}

.menu-link:hover::after {
  width: 100%;
  transition: width 0.3s;
  margin-top: 10%;
  background: var(--azul);
}

.menu-link ul li.active{
color: var(--vermelho);
}

/* FIM HEADER */

/* INTRODUÇÃO */

.introducao {
  width: 100%;
  height: 900px;
  padding: 100px 0;
  background: var(--azul);
  margin-top: 91px;
}

.introducao h1 {
  font-size: 70px;
  color: var(--branco);
  font-weight: 800;
  line-height: 65px;
  text-align: left;
  padding-top: 150px;
  margin-bottom: 10%;
}

.introducao p {
  font-size: 25px;
  color: var(--branco);
  font-weight: regular;
  line-height: 30px;
  text-align: left;
  margin-top: 30px;
  max-width: 400px;
  margin-bottom: 7%;
}

.introducao img {
  height: 750px;
  padding-top: 30px;
  
}



/* FIM INTRODUÇÃO */

/* SOBRE */

.sobre {
  height: 750px;
  padding: 150px 0;
}

.sobre h2 {
  font-size: 60px;
  color: var(--azul);
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  margin-bottom: 10%;
}

.sobre p {
  font-size: 20px;
  color: var(--cinza);
  font-weight: regular;
  line-height: 30px;
  text-align: left;
  max-width: 400px;
  margin-bottom: 10%;
}

/* FIM SOBRE */

/* SERVIÇOS */

.servicos {
  height: 1550px;
  padding: 100px 0;
  background-color: var(--amarelo);
  text-align: center;
}

.servicos-lista li {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  max-width: 300px;
  margin-top: 7%;
}

.btn-servico {
  padding-top: 70px;
  text-align: center;
  clear: both;
}

.btn-servico p {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 40px;
}

/* FIM SERVIÇOS */

/* VETERINÁRIOS */

.veterinarios {
  height: 900px;
  padding: 100px 0;
  text-align: center;
}

.subtitulo-vet {
  font-size: 22px;
  font-weight: light;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 5rem;
}

.profissao {
  font-size: 1.2rem;
  font-weight: light;
}

.redes-vete li {
  display: inline-block;
  margin-top: 3%;
}

/* FIM VETERINÁRIOS */

/* CONTATO */
.contato {
  height: 900px;
  padding: 100px 0;
  background: var(--abobora);
}

.contato h2 {
  text-align: left;
}

.contato p {
  font-size: 20px;
  font-weight: regular;
  line-height: 30px;
  text-align: left;
  max-width: 940px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.contato-dados {
  text-align: right;
}

.contato-dados p {
  text-align: right;
  line-height: 35px;
  font-weight: 600;
}

.contato-dados .sub-redes {
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 3%;
  font-weight: regular;
  color: var(--cinza);
  font-size: 24px;
}

.contato-dados ul li {
  padding: 0px 3px;
  display: inline-block;
}

.form-contato label {
  display: block;
  font-size: 1.1rem;
  line-height: 25px;
  margin-bottom: 4px;
}

.form-contato textarea {
  display: block;
  font-size: 1.1rem;
  color: var(--preto);
  line-height: 25px;
}

.form-contato input {
  display: block;
  width: 100%;
  border: 4px solid var(--amarelo);
  color: var(--azul);
  padding: 7px 10px;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-contato textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid var(--amarelo);
  color: var(--azul);
  padding: 7px 10px;
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

.form-contato button {
  padding: 7px 40px;
}

/* FIM CONTATO */

/* FOOTER */
.footer {
  height: 600px;
  padding: 80px 0;
  background: var(--cinza);
}

.menu-footer ul {
  border: var(--branco) solid 2px;
  padding: 20px 30px;
  height: 280px;
  width: 250px;
  align-items: center;
  line-height: 2rem;
}

.menu-footer ul li a {
  font-size: 20px;
  color: var(--branco);
  text-align: left;
  font-weight: light;
  letter-spacing: 5px;
}

.menu-footer ul h4 {
  font-size: 20px;
  color: var(--vermelho);
  text-align: left;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-redes {
  margin: 0 100px;
  text-align: center;
}

.footer-redes ul li {
  padding: 0px 3px;
  display: inline-block;
  margin-top: 5%;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  color: var(--branco);
  font-weight: lighter;
  margin-top: 150px;
  padding-top: 1rem;
  border-top: var(--branco) solid 2px;
}
